/*辅助样式*/
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}
.clearfix:after {
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ct{
	text-align: center;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}

/*公共样式*/
body{
	background-color: #f5f5f5;
	padding: 8px;
	padding-bottom: 0;
	height: 586px;
	color: #424242;
}

header,section,footer{
	display: block;
}

/*覆盖layui默认样式*/
.layui-btn{
	border-radius: 8px;
	padding: 0 28px;
}
