/*header部分*/
.layui-icon {
    color: #fabe04;
    font-size: 20px;
}
header {
    background-color: #fff;
    padding: 5px 0 5px 15px;
    height: 25px;
    line-height: 25px;
}
section {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 52px;
}
.info {
    left: 8px;
    width: 56%;
    padding: 8px;
}
.photo {
    width: 41%;
    right: 8px;
}
header span {
    margin-right: 20px;
    cursor: pointer;
}

/*section部分，左*/
p.title{
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 13px;
}
.info-box{
    margin:10px 0 6px 78px;
    font-size: 13px;
}
.item-box{
    float: left;
    width: 33%;
    margin-bottom: 5px;
}
.block{
    width: 100%;
}

/*section部分，右*/
.no{
    margin:20px auto;
}
.photo p{
    color: #757575;
    margin-top: 10px;
}

/*认领弹窗*/
.claim-layer{
    display: none;
}
.claim-layer p{
    padding: 9px 0 9px 20px;
}
.claim-layer .layui-input-inline{
    width: 140px;
    margin-bottom: 7px;
}
.claim-layer .layui-form-label{
    width: auto;
    padding: 9px 0;
    padding-right: 15px;
}
.claim-layer .layui-form-item{
    margin-left: 62px;
    margin-bottom: 0;
}
.claim-layer .address{
    width: 346.5px;
}
.claim-layer p.special{
    padding-top: 0;
}
.claim-layer .order-num{
    margin-left: -14px;
}
.claim-layer .deal-label{
    margin-left: -29px;
}
.claim-layer .layui-textarea{
    width: 346.5px;
}